@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans";
    font-size: 16px;
    line-height: 1.2;
}

header {
    overflow: hidden;
    background-color: #2F6A49;
    color: white;
    padding: 20px;
}

h1 {
    float: left;
    max-width: 140px;
}

nav {
    float: right;
    padding: 3px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

nav a:hover {
    padding-bottom: 2px;
    border-bottom: solid 2px #FFB6C4;
}

.hero {
    background-image: url(assets/header-background.svg);
    background-size: cover;
    padding: 275px 0 255px;
}

h2 {
    font-size: 80px;
    line-height: 1.1;
    font-weight: 500;
    text-align: center;
    color: #FE5504;
    max-width: 800px;
    margin: 0 auto;
}

.about {
    width: 100%;
    text-align: center;
    color: #2F6A49;
    background-color: #FFB6C4;
}

.about h3,
.about p {
    max-width: 800px;
    margin: 0 auto;
}

.about h3 {
    font-weight: 500;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 15px;
}

.about p {
    font-size: 26px;
    padding-bottom: 75px;
}

.food {
    display: flex;
    overflow: hidden;
    color: #2F6A49;
    background-color: #FFD400;
}

.food_info {
    float: left;
    width: 50%;
    padding: 60px 80px 50px;
}

.food_info p {
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
}

p.food_title {
    font-size: 26px;
    margin-bottom: 30px;
}

div.food_image {
    float: left;
    width: 50%;
    background-image: url(assets/blue-bowl.jpg);
    background-size: cover;
    background-position: center;
}

.quote {
    background-color: #ffd7b3;
    color: #2F6A49;
    font-size: 36px;
    padding: 100px 80px;
}

.quote p {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    /* font-weight: 400; */
}

.images {
    overflow: hidden;
}

.images img {
    float: left;
    width: 33.3%;
}

.findus {
    overflow: hidden;
    background-color: #2F6A49;
    color: #FFB6C4;
    font-size: 18px;
    text-align: center;
}

.findus div {
    float: left;
    width: 33.3%;
    padding: 50px;
}

.findus p {
    max-width: 250px;
    margin: 20px auto;
}

.findus .map img {
    border-radius: 50%;
}

.logos {
    padding: 40px 20px 100px;
    text-align: center;
    color: #FE5504;
    font-size: 18px;
}

.logos p {
    margin-bottom: 50px;
}

.logos img {
    padding: 0 25px;
}

img.short_logo {
    width: 150px;
}

img.long_logo {
    width: 250px;
}

footer {
    background-color: #FFB6C4;
    color: #2F6A49;
    overflow: hidden;
    padding: 20px;
}

footer img {
    float: left;
}

footer p {
    float: right;
    margin-top: 5px;
}
