section {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.image-1 {
    background-image: url(assets/the-pen.svg);
}

.image-2 {
    background-color: black;
    background-image: url(assets/is-mightier.svg);
}

.image-3 {
    background-image: url(assets/than.svg);
}

.image-4 {
    background-color: black;
    background-image: url(assets/the-sword.svg);
}

.image-5 {
    background-color: #00f10a;
    background-image: url(assets/end.svg);
}

footer {
    position: fixed;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
}
