@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

body {
    font-family: "Biryani";
    font-size: 16px;
    line-height: 1.2;
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    padding: 60px 20px;
    text-align: center;
}

.menu {
    z-index: 2;
    width: 400px;
    height: 100vh;
    position: fixed;
    background-color: #f8cede;
    top: 0;
    left: -400px;

    transition: transform 0.5s ease;
}

.hidde {
    transform: translateX(100%);
}

nav {
    position: absolute;
    left: 65px;
    top: 50%;
    transform: translateY(-50%);
}

nav a {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

.menu-toggle {
    z-index: 3;
    position: fixed;
    top: 30px;
    left: 30px;

}

.natural,
.collection {
    padding-right: 260px;
    position: relative;
}

h2 {
    color: #F81CE5;
    font-size: 64px;
    line-height: 1.125;
    font-weight: 700;
}


.natural .copy,
.collection h3 {
    position: absolute;
    right: 0;
    top: 50%;
    width: 360px;
    transform: translateY(-50%);
}

section {
    margin-bottom: 50px;
}

.one-thing {
    padding-left: 350px;
    position: relative;
}

.one-thing .copy {
    position: absolute;
    top: 30px;
    left: 0;
    width: 460px;
}

h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.copy p {
    font-size: 31px;
    font-weight: 200;
}

.lookbook h2 {
    color: white;
    text-align: center;
    padding: 220px 20px;
    background-image: url(assets/image_3.jpg);
    background-size: cover;
    background-position: center;
}

.collection h3 {
    font-size: 48px;
    line-height: 1.125;
    font-weight: 600;
}


.natural img {
    transition: transform 0.5s ease;
}

.natural:hover img {
    transform: rotate(-5deg);
}

.natural h2 {
    transition: transform 0.5s;
}

.natural:hover h2 {
    transform: scale(1.1);
}



/* h2.lookbook-copy {
    transition: all 0.5s ease;
}

h2.lookbook-copy:hover {
    transform: scale(1.2);
} */
