@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans";
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

h2 {
    font-size: 48px;
    line-height: 1.2;
}
