@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding-top: 104px;
    font-family: "Work Sans";
    font-optical-sizing: auto;
    font-size: 16px;
    line-height: 1.5;
    background-color: #000;
    color: #fff;
}

header {
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    /* although we have set overflow to hidden, but by adding position: fixed the content shrunk. So now we have to explicitly define the width to 100% */
    width: 100%;
    padding: 20px;
    /* using flex instead of floats */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

h1 {
    /* float: left; */
    width: 64px;
}

.top-nav {
    /* float: right; */
    /* padding-top: 22px; */
}

a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding-bottom: 3px;
    border-bottom: solid 3px rgba(0, 0, 0, 0);
    transition: border 0.3s;
}

a:hover {
    border-color: #555;
}

a.selected {
    border-color: white;

}

.photos {
    /* since we are switching to using flex box we will align content differently */
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    /* otherwise all the content will be squeezed onto a single line */
    align-items: flex-end;
    justify-content: center;
    /* so the items rest on the baseline */
    max-width: 1080px;
    margin: 0 auto;

    padding: 0 10px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;

    opacity: 0;

    transition: opacity 0.3s;
}

.photo {
    /* since we are switching to using flex box we will align content differently */
    /* display: inline-block; */
    width: 300px;
    margin: 10px;
    position: relative;
    /* vertical-align: bottom; */
}

.photo:hover .overlay {
    opacity: 1;
}

.sml {
    width: 250px;
}

.lrg {
    width: 400px;
}

.photo h2 {
    position: absolute;
    top: -15px;
    left: -15px;
    font-size: 32px;
    line-height: 1.2;
}

footer {
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

footer p {
    /* float: left; */
}

footer .bottom-nav {
    /* float: right; */
}

footer .bottom-nav a {
    width: 20px;
    /* margin-left: 5px; */
    display: inline-block;
}
